.container {
  text-align: center;
  padding-top: 60px;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(227, 227, 253, 0) 0%, var(--background-alt-blue-france-hover) 50%);
  z-index: calc(var(--ground) + 501);
  pointer-events: none;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: calc(var(--ground) + 502);
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textOverlay p {
  line-height: 1.2;
}

.title {
  font-weight: normal;
  font-size: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.title,
.subtitle {
  padding: 0 20px;
}

.rectangleContainer {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.rectangle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  border: 0.5px solid grey;
  width: 300px;
  height: 140px;
  margin: 10px auto;
}

@media (min-width: 992px) {
  .subtitle {
    font-size: 2.5rem;
  }

  .rectangleContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .textOverlay p {
    font-size: 1.5em;
  }
}
