.backgroundImage {
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
}

.backgroundImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-default-grey-active);
  opacity: 0.9;
}

.pricing {
  display: none;
}

@media (min-width: 1240px) {
  .pricing {
    display: block;
  }
}
