.choiceContainer {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choice {
  width: 100%;
  height: 100%;
  display: flex;
}

.leftChoice,
.rightChoice {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* Suppression des sélecteurs individuels car ils ont les mêmes propriétés */
.leftTitle,
.rightTitle {
  margin: 0;
}

.tag {
  margin-bottom: 10%;
  background-color: #cbcbfa;
}

.centeredText {
  text-align: center;
  margin-top: 20px;
}

.forgotPassword {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  text-decoration: underline;
}

.centeredInput {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  width: 60%;
  text-align: left;
}

.separator {
  width: 0.5px;
  position: relative;
}

.separator::before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
  background: #aaa;
}

.orText {
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
}
