.container {
  background-color: #dcdcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 5%;
}

.main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: normal;
  max-width: 500px;
  overflow-wrap: break-word;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
