.tip {
  width: 100%;
  border: 6px solid var(--background-action-high-blue-france);
  cursor: pointer;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.tip > div:first-child > div {
  padding: 0.4rem 0.2rem 1rem;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
}

.tip > div > div {
  color: var(--text-inverted-blue-france);
}

.tip > div:first-child > div > div:first-child {
  line-height: 40px;
  margin-right: 0.7rem;
  width: 40px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.tip button {
  margin-top: 0.5rem;
}

.stepper {
  width: 100%;
}

.card {
  display: none;
}

.inputGroup {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.inputGroupBirthPlace {
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.codeCodeHelpGroup {
  background-color: #e8edff;
  color: black !important;
  height: 50%;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.codeCodeHelpLabel {
  text-align: left;
  padding-left: 6px;
  padding-right: 2px;
}

.inputGroup > div,
.inputGroup > fieldset {
  flex: 1;
}

.lastInputGroup {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
}
.lastInputGroup > div {
  max-width: 50%;
}

@media (min-width: 1260px) {
  .tip {
    display: flex;
    align-items: stretch;
    border-width: 6px;
    border-style: solid;
  }
  .tip > div:first-child {
    z-index: 1;
    min-width: 270px;
    max-width: 370px;
    justify-content: center;
    width: initial;
    position: absolute;
    right: 0;
    top: -6px;
    transform: translateX(100%);
    padding: 1rem 1.5rem;
  }
  .containerInputs.oneChild {
    width: fit-content;
  }
  .containerInputs.oneChild > div {
    width: 390px;
  }
}

@media (min-width: 768px) {
  .stepper {
    width: 65%;
  }
  .card {
    display: block;
  }
}
